@model List<Chef>
    
<div class="container">
    <div class="row">
        <div class="col">
            <h1 class="text-center">Chefs | <a asp-action="Dishes">Dishes</a></h1>
        </div>
        <div class="col"><a asp-action="NewChef">Add a Chef</a></div>
    </div>

    <div class="row">
        <h3>Check out our roster of Chefs!</h3>
        <hr>
    </div>

    <div class="row">
        <div class="col">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Age</th>
                        <th># of Dishes</th>
                        @* <th scope="col">Name</th>
                        <th scope="col">Age</th>
                        <th scope="col"># of Dishes</th> *@
                    </tr>
                </thead>
                <tbody>
                    @foreach(Chef chef in Model)
                    {
                        @* int age = DateTime.Now.Year - chef.DOB.Year; *@
                        @* move to BE? *@

                        <tr>
                            <td>@chef.FirstName @chef.LastName</td>
                            <td>@ViewBag.Age</td>
                            <td>@chef.CreatedDishes.Count</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>