<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Dojo Survey</title>
</head>
<body>
    <div class="container">
        <h1>Dojo Survey</h1>
        <form action="/result" method="post">
            <table>
                <tr>
                    <td>Your Name:</td>
                    <td><input type="text" name="name" id=""></td>
                </tr>
                <tr>
                    <td>Dojo Location:</td>
                    <td>
                        <select name="location" id="">
                            <option value="Seattle">Seattle</option>
                            <option value="Miami">Miami</option>
                            <option value="Honolulu">Honolulu</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>Favorite Language:</td>
                    <td>
                        <select name="language" id="">
                            <option value="C#">C#</option>
                            <option value="Python">Python</option>
                            <option value="JavaScript">JavaScript</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>Comment (optional):</td>
                </tr>
            </table>
            <textarea name="comment" id="" cols="50" rows="5"></textarea>
            <br>
            <button type="submit">Submit</button>        
        </form>
    </div>
</body>
</html>