@* @model *@

<div class="container">
    <div class="row">
        <div class="col">
            <h1>Welcome to the Wedding Planner!</h1>
        </div>
        <div class="col">
            <a asp-controller="Home" asp-action="Logout">Log Out</a>
        </div>
    </div>

    <div class="row">
        <table>

        </table>
    </div>

    <div class="row">
        <a class="btn btn-link-info" asp-controller="Home" asp-action="NewWedding">New Wedding</a>
    </div>
</div>