@* @model *@

<div class="container">
    <div class="row">
        <div class="col">
            <h1>Name and Name's Wedding</h1>
        </div>
        <div class="col">
            <a asp-controller="Home" asp-action="Dashboard">Dashboard</a>
        </div>
        <div class="col">
            <a asp-controller="Home" asp-action="Logout">Log Out</a>
        </div>
    </div>

    <div class="row">
        <h2>Date: Date</h2>
    </div>

    <div class="row">
        <h2>Guests:</h2>
        <h3>List of Guests</h3>
    </div>
</div>