@model Transaction

<div class="container">
    <div class="row">
        <div class="col">
            <h1>Welcome, @Context.Session.GetString("FirstName") @Context.Session.GetString("LastName")!</h1>
        </div>
        <div class="col">
            <p>Current Balance: $@Math.Round(ViewBag.Total, 2)</p>
        </div>
    </div>

    <form asp-controller="Home" asp-action="User_Transaction" method="POST">
        <div class="form-group row">
            <label asp-for="Amount"></label>
            <span class="text-danger" asp-validation-for="Amount"></span>
            <input asp-for="Amount">

            <button class="btn btn-primary">Submit</button>
        </div>
    </form>

    <div class="row">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Amount</th>
                    <th>Date</th>
                </tr>
            </thead>
            <tbody>
                @foreach(Transaction item in ViewBag.Transaction_List)
                {
                    <tr>
                        <td>$@Math.Round(item.Amount, 2)</td>
                        <td>@item.CreatedAt.ToString("MMM dd, yyyy")</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>