appsettings.json

# Comments are not allowed in the appsettings.json file so I'm putting them here
# In appsettings.json is the MySQL connection string (the line of code that will connect your project to MySQL)
# The file needs to be ignored/not pushed to a remote repo like GitHub because it contains a
# username and password