<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Time Display</title>
</head>
<body>
    <div class="container">
        <h1>Current date and time:</h1>
        <div class="border">
            <h3>@ViewBag.Date</h3>
            <h3>@ViewBag.Time</h3>
        </div>
    </div>
</body>
</html>