@{
    ViewData["Title"] = "Home Page";
}

@model List<Dish>

<div class="text-center">
    <h1 class="display-4">Welcome to CRUDelicious</h1>
    <p><a asp-action="New">Add a Dish</a></p>
    <p>Check out some recent dishes!</p>
    <p>----------------------------------------------</p>
    @foreach (Dish dish in Model)
    {
        <p>
            <a asp-controller="Home" asp-action="Details" asp-route-DishID="@dish.DishId">@dish.Name</a>
            by @dish.Chef
        </p>
    }
</div>