@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to CRUDelicious</h1>
    <p><a asp-action="New">Add a Dish</a></p>
    <p>Check out some recent dishes!</p>
    <p>----------------------------------------------</p>
    @* FOR LOOP *@
    
</div>
