@* Don't need the HTML5 template here because it's in the _Layout.cshtml file *@
@* What we put here goes into the @RenderBody() section of the _Layout file *@

@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <h2 class="text-center">Welcome!</h2>
    <hr>

    @* Row with two medium-sized columns: *@
    <div class="row">
        <div class="col-md">
            <partial name = "_Register">
        </div>
        <div class="col-md">
            <partial name = "_Login">
        </div>
    </div>
</div>