@* Don't need the HTML5 template here because it's in the _Layout.cshtml file *@
@* What we put here goes into the @RenderBody() section of the _Layout file *@

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
