@* SHORTHAND: *@
@model Platform_Lecture_ASP_MVC_II.Models.User

@* LONGHAND:
@using Platform_Lecture_ASP_MVC_II.Models
@model User *@

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Platform Lecture</title>
</head>
<body>
    <div class="container">
        <h1>Super sweet page for @Model.FirstName @Model.LastName</h1>
        @* Model is uppercase here and lowercase up top *@
    </div>
</body>
</html>