@* SHORTHAND: *@
@model Platform_Lecture_ASP_MVC_II.Models.User

@* LONGHAND:
@using Platform_Lecture_ASP_MVC_II.Models
@model User *@

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Platform Lecture</title>
</head>
<body>
    <div class="container">
        <h1>Super sweet page for @Model.FirstName @Model.LastName</h1>
        @* Model is uppercase here and lowercase up top *@

        @* name field has to match database/model so this info gets auto-stored in our database *@
        @* it knows which database to map to because of our @model at the top of the page *@
        <form action="/process" method="post">
            <input type="text" name="FirstName" placeholder="first name" id="">
            <input type="text" name="LastName" placeholder="last name" id="">
            <button type="submit">Submit</button>
        </form>
    </div>
</body>
</html>