@* If not using _ViewImports.cshtml, need this: *@
@* @model Platform_Lecture_ASP_MVC_II.Models.User *@

@* Using _ViewImports.cshtml: *@
@* telling the cshtml page it's going to receive User data *@
@model User

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Platform Lecture</title>
</head>
<body>
    <div class="container">
        <h1>Greetings @Model.FirstName @Model.LastName!</h1>
    </div>
</body>
</html>