@* Very similar to New page, so copy/pasted that to tweek. *@

@model Post

<h2>Edit Post</h2>
<div class="container">
    <form asp-controller="Posts" asp-route-post_id="@Model.PostId" asp-action="Update" method="POST">
        @* form-group is a Bootstrap class for label and input tags *@

        <div class="form-group">
            <label asp-for="Topic"></label>  
            <span class="text-danger font-weight-bold" asp-validation-for="Topic"></span>
            <input asp-for="Topic">
        </div>

        <div class="form-group">
            <label asp-for="Body"></label>  
            <span class="text-danger font-weight-bold" asp-validation-for="Body"></span>
            <input asp-for="Body">
        </div>

        <div class="form-group">
            <label asp-for="ImgURL"></label>  
            @* ImgURL doesn't need any validations *@
            <input asp-for="ImgURL">
        </div>

        <button class="btn btn-light">Submit</button>
        @* Google "bootstrap shadow class" if a shadow on the button is desired" *@
    </form>
</div>