<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Demo</title>
</head>
<body>

    <h1 class="red">Testing 1 2 3</h1>


    @{
        List<string> travelDestinations = new List<string>()
            {
                "Seattle", "New York", "Nashville", "Honolulu"
            };

        <ul>
            @foreach (string destination in travelDestinations)
            {
                <li>
                    @* <a href="/travel/@destination">@destination</a> *@
                    @destination
                </li>
            }
        </ul>
    }

    <h1>@ViewBag.Example</h1>

    @{
        string LocalString = ViewBag.Example + " Good to see you!";
    }
    <h1>@LocalString</h1>

</body>
</html>