@model Product

<div class="container">
    <h1 class="text-center mb-5">Products | <a asp-controller="Home" asp-action="Categories">Categories</a></h1>

    <div class="row">
        <div class="col border-right border-dark">
            <h2 class="text-center mb-3">New Product</h2>

            <form asp-controller="Home" asp-action="CreateProduct" method="POST">
                <div class="form-group">
                    <label asp-for="Name"></label>
                    <span class="text-danger" asp-validation-for="Name"></span>
                    <input asp-for="Name">
                </div>

                <div class="form-group">
                    <label asp-for="Description"></label>
                    <span class="text-danger" asp-validation-for="Description"></span>
                    <input asp-for="Description">
                </div>

                <div class="form-group">
                    <label asp-for="Price"></label>
                    <span class="text-danger" asp-validation-for="Price"></span>
                    <input asp-for="Price">
                </div>

                <div class="form-group">
                    <button class="btn btn-success">Create</button>
                </div>
            </form>
        </div>

        <div class="col">
            <h2 class="text-center">Existing Products</h2>

            @if (ViewBag.Products1 != null)
            {
                <table>
                    <tr>
                        <td>
                            @foreach (var item in ViewBag.Products1)
                            {
                                <ul><a asp-controller="Home" asp-action="Product" asp-route-productId="@item.ProductId">@item.Name</a></ul>                    
                            }
                        </td>
                    </tr>
                </table>
            }
        </div>
    </div>
</div>